{%extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
	<div class="row justify-content-center main2 ">
	<section class="col-md-10">
		<div class=" ">
			<h1 class="text-center display-2 font-weight-bold font-italic">Programa Valentina</h1>
		</div>
			
			
		</section>
	</div>
	<section class="row justify-content-center main2 align-items-center">
		<div class="col-md-5">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/PDfD5OnadBM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		
		<div class="col-md-5">
			<h5 class="text-justify">
				PROGRAMA VALENTINA acelera la inserción laboral de jóvenes guatemaltecos en oportunidades de trabajo en el sector de tecnología. Esto se hace a través de un eficiente programa de capacitación y un modelo orientado al mercado laboral de tecnología, donde se desarrolla y coloca talento calificado en empleos de valor.
			</h5>
		</div>
	</section>
{% endblock%}